<%= render 'navbar' %>
<%= link_to 'Voltar', invoices_path %>

<h1>Recibos Recebidos</h1>

<%= 'Nenhum recido encontrado.' if @received_invoices.empty? %>

<% @received_invoices.each do |invoice| %>
    <%= link_to invoice.description(invoice.seller), invoice %>
<% end %>