<%= link_to 'Voltar', root_path %>
<% if !user_signed_in? %>
  <%= link_to 'Registrar Empresa', new_company_path %>
<% end %>

<h1>Empresas Cadastradas</h1>

<% @companies.each do |company| %>
  <p><%= link_to company.name, company %></p>
<% end %>

<% if @companies.empty? %>
  <p>Nenhuma empresa cadastrada</p>
<% end %>