<%= link_to 'Voltar', proposals_path %>

<h1>Propostas Canceladas</h1>

<%= 'Nenhuma proposta cancelada.' if @cancelled_proposals.empty? %>

<% @cancelled_proposals.each do |proposal| %>
    <p><%= link_to proposal.description(proposal.seller), proposal %></p>
<% end %>