<%= render 'navbar' %>
<%= link_to 'Voltar', proposals_path %>

<h1>Propostas Rejeitadas</h1>

<p><%= 'Nenhuma proposta recebida.' if @denied_proposals.empty? %></p>

<% @denied_proposals.each do |proposal| %>
    <p><%= link_to proposal.description(proposal.buyer), proposal %></p>
<% end %>